# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.google-cookie

# Project
logs/
output/
outputs/
download/
downloads/

# config
*.yaml
*.ini
conf/
config/
config.json
config_pre.json
